**/*.sw?
**/*.retry
.idea/
**/.DS_Store

# Ignore envs other than prod, integ, and dev
envs/*
!envs/prod*/
!envs/integ*/
!envs/dev*/

# For all envs, ignore generatead files
envs/**/id_rsa
envs/**/hosts
envs/**/health.json
envs/**/.terraform*
envs/**/resumeable.txt
envs/**/destroy.sh
envs/**/*.decrypted

# IDE stuff
*.iml

# Terraform dynamic stuff
**/.terraform

# Python generated stuff
**/*.pyc
**/health.json
