[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service

[Service]
User=etcd
Group=etcd
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart={{ etcd_install_dir }}/etcd/etcd --name {{ ansible_hostname }} \
    --data-dir {{ etcd_data_dir }} \
    --listen-client-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_client_port }},http://127.0.0.1:{{ etcd_client_port }} \
    --advertise-client-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_client_port }} \
    --listen-peer-urls http://0.0.0.0:{{ etcd_advertise_port }} \
    --initial-advertise-peer-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_advertise_port }} \
    --initial-cluster etcd-ad1-0=http://etcd-ad1-0.etcdsubnet1:{{ etcd_advertise_port }},etcd-ad2-0=http://etcd-ad2-0.etcdsubnet2:{{ etcd_advertise_port }},etcd-ad3-0=http://etcd-ad3-0.etcdsubnet3:{{ etcd_advertise_port }} \
    --initial-cluster-token etcd-cluster

[Install]
WantedBy=multi-user.target

