[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service

[Service]
User=etcd
Group=etcd
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart={{ etcd_install_dir }}/etcd/etcd --name {{ ansible_hostname }} \
    --data-dir {{ etcd_data_dir }} \
    --listen-client-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_client_port }},http://127.0.0.1:{{ etcd_client_port }} \
    --advertise-client-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_client_port }} \
    --listen-peer-urls http://0.0.0.0:{{ etcd_advertise_port }}  \
    --initial-advertise-peer-urls http://{{ ansible_default_ipv4.address }}:{{ etcd_advertise_port }} \
    --initial-cluster {% for host in groups['k8s-master']  %}
{{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host]['ansible_default_ipv4']['address']}}:{{ etcd_advertise_port }}
{%- if loop.first %},{% endif %}
{% endfor %} \
    --initial-cluster-token etcd-cluster

[Install]
WantedBy=multi-user.target

