[Unit]
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile=/etc/environment_params
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --cluster_dns=10.21.21.21 \
  --cluster_domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --hostname-override=__FQDN_HOSTNAME__ \
  --kubeconfig=/etc/kubernetes/manifests/worker-kubeconfig.yaml \
  --require-kubeconfig=true \
  --network-plugin=cni \
  --node-labels node-role.kubernetes.io/node=,failure-domain.beta.kubernetes.io/region=${region},failure-domain.beta.kubernetes.io/zone=${zone},node.info/external.ipaddress=__EXT_IP__,node.info/availability.domain=__AVAILABILITY_DOMAIN__,node.info/compartment.id_prefix=__COMPARTMENT_ID_PREFIX__,node.info/compartment.id_suffix=__COMPARTMENT_ID_SUFFIX__,node.info/node.id_prefix=__NODE_ID_PREFIX__,node.info/node.id_suffix=__NODE_ID_SUFFIX__,node.info/node.shape=__NODE_SHAPE__ \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --register-node=true \
  --serialize-image-pulls=false \
  --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem \
  --feature-gates=ExperimentalCriticalPodAnnotation=true,Accelerators=true \
  --eviction-hard=memory.available<500Mi,nodefs.available<2Gi,imagefs.available<2Gi \
  --cloud-provider=external \
  --provider-id=__NODE_ID_PREFIX__.__NODE_ID_SUFFIX__ \
  __SWAP_OPTION__ --v=2
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
