[Unit]
Requires=docker.service
After=docker.service
[Service]
Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --cluster_dns=10.21.21.21 \
  --cluster_domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --hostname-override={{ ansible_fqdn }} \
  --kubeconfig=/etc/kubernetes/manifests/worker-kubeconfig.yaml \
  --require-kubeconfig=true \
  --network-plugin=cni \
  --node-labels node.info/external.ipaddress={{ inventory_hostname }} \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --register-node=true \
  --serialize-image-pulls=false \
  --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem \
  --fail-swap-on=false \
  --v=2
Restart=always
RestartSec=10
