[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target firewalld.service cni-bridge.service
Requires=cni-bridge.service

[Service]
Type=notify
ExecStart=/usr/bin/dockerd -H fd:// \
  --bridge=cni0 \
  --iptables=false \
  --ip-masq=false \
  --host=unix:///var/run/docker.sock \
  --insecure-registry 10.0.0.0/16 \
  --insecure-registry=registry.oracledx.com
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
