[Unit]
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile=/etc/environment_params
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --cluster_dns=10.21.21.21 \
  --cluster_domain=cluster.local \
  --container-runtime=docker \
  --hostname-override=__FQDN_HOSTNAME__ \
  --kubeconfig=/etc/kubernetes/manifests/master-kubeconfig.yaml \
  --require-kubeconfig=true \
  --network-plugin=cni \
  --node-labels node-role.kubernetes.io/master= \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --register-node=true \
  --cloud-provider=external \
  --feature-gates=ExperimentalCriticalPodAnnotation=true,Accelerators=true \
  --provider-id=__NODE_ID_PREFIX__.__NODE_ID_SUFFIX__ \
  --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
  __SWAP_OPTION__ --v=2
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
